<div *ngIf="isApiDataAvailable">
    <!-- display results in a table. Bootstrap version -->
    <table class="table table-striped" cellspacing="0" width="65%" style="width: 70%;">
        <thead>
            <tr *ngFor="let key of objectKeys(apiResultObj) | paginate: { itemsPerPage: 5, currentPage: tablePage }">
                <td scope="row"> {{ key }} </td>
                <td scope="row"> {{ apiResultObj[key] }} </td>
            </tr>
        </thead>
    </table>
    <pagination-controls (pageChange)="tablePage = $event"></pagination-controls>
</div>

<div class="spinner-border text-primary" *ngIf="!isApiDataAvailable">
    <span class="sr-only">Loading...</span>
</div>